
/* Index css */
.navbar-default {
    margin:  10px 4px 30px;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    
}

.navbar-brand{
    width: 240px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 57px;
    color: #ffffff !important;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
 
}


.navbar-right{
    padding: 20px 0px;
}

.container, .container-fluid {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    
}

.navbar-fixed-bottom {
    padding: 30px 0;
    margin:  10px 4px 0px;
    /* clear: both; */
    font-size: 12px;
    color: #cccccc;
    background: #666666;
    border-top: 10px solid #4aaaa5;
    height: 40px;
}



body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../images/ep_naturalwhite.png");
  }

  
.main_section {
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 2px 2px 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
    text-align: justify;
  }
/* This is the image for about page! */
.image_me {
    float: left;
    width: 200px;
    height: auto;
    margin: 10px 10px 0 0;
    padding: 0 20px 0 0px;
      
}
  
/* I put this to have space between the footer and the main content. */
#main_container {
    padding: 0 0 80px 0;
   
  }
/* Contact! */

button[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  } 

/* Porfolio css */

/* to put the names of the pictures with style */

img {
    padding-bottom: 5px;
}

.caption h3 {
    position: absolute;
    bottom: 20px;
    width: 90%;
    padding: 15px 0 15px 0;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    background: #4aaaa5;
    border-bottom: 0;
}

.caption img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: auto;
}


.imag-responsive:nth-child(even) {
    margin-right: 40px;
}

/* .imag-responsive {
    margin-top: 20px;
} */
/* To have space between images */
.row {
    margin-bottom: 20px;
}


